* {
    padding: 0;
    margin: 0;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
    
}

h1 {
    margin-left: 15px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-up {
    width: 100vw;
    height: 25vh;
    background-color: #090979;
    display: flex
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 600px;
    color: #00d4ff;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #00d4ff;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    list-style-type: none;
}

.Article {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: bold;
    color:#FFFFFF;
    margin-left:30px;
    margin-top:150px;
}
